Xft.lcdfilter: lcddefault
Xft.antialias: true
Xft.autohint: 0
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.dpi: 96
Xcursor.theme: OSX-ElCap

*background: #282a36
*foreground: #f8f8f2

*fadeColor: #002b36
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

*color0: #181a26
*color8: #282a36

*color1: #ef4545
*color9: #ff5555

*color2: #40ea6b
*color10: #50fa7b

*color3: #e1ea7c
*color11: #f1fa8c

*color4: #ad83e9
*color12: #bd93f9

*color5: #ef69b6
*color13: #ff79c6

*color6: #7bd9ed
*color14: #ff79c6

*color7: #e8e8e2
*color15: #f8f8f2

